{{ define "main" }}
    {{ range .Data.Pages }}
        {{if (eq .Type "index")}}
            {{- partial "post.html" . -}}
        {{end}}
    {{ end }}
    <h1 class="main-section-header">Highlights</h1>
    {{ range $i, $post := .Site.RegularPages }}
        {{range $post.Params.Tags }}
            {{if (eq . "highlight")}}
                {{- partial "card.html" $post -}}
            {{ end }}
        {{ end }}
    {{ end }}
    <h1 class="main-section-header">Galerie</h1>
    {{- partial "gallery.html"  (dict "context" . "gallery_dir" "/images") -}}
{{ end }}